<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
var interval = 100;
function getRequest(){
  $(document).ready(function(){
      $("#canHead").load("http://127.0.0.1:5000/head");
      $("#canTail").load("http://127.0.0.1:5000/tail");
  });
}
setInterval(getRequest,interval);
</script>

<body>
  <div id="canHead"><h2> </h2></div> <div id="canTail"><h2> </h2></div>
  <script>
    var head = d3.select("#canHead")
    head.append()
  </script>
</body>
